/* src/styles/Footer.module.css */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #000000, #FFEA00);

  }
  