/* src/styles/QRCodeButton.module.css */
.container {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    background: yellow;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  